/*
  Copyright 2014 The Oppia Authors. All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/

/*
  Animation keyframes. These must be placed at the top of the file
  in order to work in IE.
*/
@-webkit-keyframes dot {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes dot {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes dot {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Angular material overrides. */
md-input-group.long > input {
  width: 100%;
  height: 45px;
}

md-input-group.oppia-blue-on-focus > input:focus {
  border-bottom-color: rgb(63, 81, 181);
  border-bottom-width: 2px;
}

md-input-group.md-default-theme label
{
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 0;
}

.md-button-success {
  color: #009688;
}

.md-button.oppia-learner-continue-button {
  background: #0D48A1;
  color: #ffffff;
  padding: 6px 12px;
}

button.md-button.md-default-theme.oppia-learner-continue-button:focus,
button.md-button.md-default-theme.oppia-learner-continue-button:hover {
  background-color: #115FD4;
}

/* Attributes for material-icons. */
.material-icons {
  vertical-align: middle;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-100 {
  font-size: 100px;
}
.material-icons.md-40 {
  font-size: 40px;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

/* Bootstrap overrides and additions. */
html {
  background-color: #e8e7e3;
  /*
    The HTML font-size is set to 62.5% in order to make 'em' units easier to
    work with. Modern browsers set their default font-size to 16px. This means
    that 1em = 16px, which is a difficult base to work with (for example,
    1.6em = 25.6px, which is not rounded). By setting the html's font-size to
    62.5%, the base font-size becomes 10px, so 1em = 10px, and 1.6em = 16px.
    The reason for making 'em' easier to work with is that 'em's scale with
    the user's font-size preferences that they set in the browser, while
    'px' is a fixed unit of measurement that doesn't scale.
  */
  font-size: 62.5%;
  height: 100%;
}

body {
  color: rgba(0,0,0,0.87);
  background-color: #e8e7e3;
  font-family: "Roboto", Arial, sans-serif;
  /*
    A font-size of 1.6em sets the default font-size on Oppia to 16px, though
    this will scale depending on the user's font-size preferences set via
    their browser preferences.
  */
  font-size: 1.6em;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

/* According to the Angular documentation - https://docs.angularjs.org/api/ng/directive/ngCloak -
   the following rule needs to be added to the css file in order for ng-cloak to work.  */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* Select2 dropdown corners should not be rounded */
.select2-container .select2-choice,
.select2-container .select2-choice .select2-arrow {
  border-radius: 0;
}

.oppia-dashboard-container {
  margin: 60px auto 30px auto;
  max-width: 800px;
}

.oppia-dashboard-container .exp-private-text {
  color: #aaa;
  font-style: italic;
}

.oppia-profile-container {
  margin: 0 auto 30px auto;
  max-width: 980px;
  overflow: auto;
  padding-top: 30px;
  position: relative;
  width: 90%;
}

.oppia-profile-user-card {
  background-color: #fff;
  float: left;
  margin-right: 28px;
  padding: 24px;
  position: relative;
  width: 220px;
}

.oppia-profile-picture-container {
  position: relative;
}

.oppia-profile-picture-fullsize {
  border-radius: 4px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 160px;
  width: 90%;
}

.oppia-profile-username-large-screen {
  display: block;
  font-size: 130%;
  margin-top: 20px;
  text-align: center;
}

.oppia-profile-username-small-screen {
  display: none;
  font-size: 110%;
  margin-top: 20px;
  text-align: left;
}

.oppia-profile-first-contributed {
  display: block;
  font-size: 0.7em;
  line-height: 120%;
  text-align: center;
}

.oppia-profile-user-stat-container-large-screen {
  display: block;
  font-size: 12px;
  margin-top: 16px;
  max-width: 220px;
  text-align: center;
}

.oppia-profile-user-stat-container-small-screen {
  display: none;
  font-size: 12px;
  margin-top: 16px;
  max-width: 100%;
  text-align: center;
}

.oppia-profile-stat-container-line-small-screen {
  display: none;
}

.oppia-profile-user-stat {
  display: inline-block;
  width: 33%;
}

.oppia-profile-user-stat span {
  display: block;
}

.oppia-profile-user-bio {
  display: block;
  font-size: 0.7em;
  line-height: 130%;
  margin-top: 16px;
  width: 100%;
}

.oppia-profile-subject-interest-container {
  display: block;
  font-size: .8em;
  font-weight: bold;
  margin-top: 6px;
}

.oppia-profile-subject-interest {
  background-color: rgba(0, 150, 136, 0.85);
  border-radius: .25em;
  color: #fff;
  display: inline;
  font-size: 0.8em;
  line-height: 1;
  margin: 0 2px;
  padding: .3em .35em .3em .5em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.oppia-profile-no-interests-text {
  font-size: .9em;
  font-weight: normal;
}

.oppia-profile-content-card {
  box-shadow: none;
  float: left;
  min-height: 630px;
  padding: 0 30px 30px 30px;
  position: relative;
  width: -webkit-calc(100% - 280px);
  width: -moz-calc(100% - 280px);
  width: -o-calc(100% - 280px);
  width: calc(100% - 280px);
}

md-card.oppia-profile-content-card {
  margin-top: 0;
  padding-top: 0;
}

/* For issue #1867 (https://github.com/oppia/oppia/issues/1867)
   Added "overflow: hidden;" to this class to fix a problem with the screen
   flickering between 2 and 3 columns when someone hovered over either
   the rating or the number of views explorations in the second row and
   on when there are at least four explorations listed. */
.oppia-profile-portfolio-container {
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

md-content.oppia-profile-portfolio-container {
  background-color: transparent;
}

.oppia-profile-portfolio-pages {
  bottom: 0;
  display: block;
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 60px;
  margin-right: 65px;
  position: absolute;
  right: 0;
  text-align: right;
}

@media (max-width: 610px) {
  .oppia-profile-container {
    width: 90%;
  }
  .oppia-profile-user-card {
    float: none;
    margin: 0 auto 12px auto;
    padding: 30px;
    width: 90%;
  }
  .oppia-profile-content-card {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
  .oppia-profile-picture-fullsize {
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: -webkit-calc(80% - 70px);
    width: -moz-calc(80% - 70px);
    width: -o-calc(80% - 70px);
    width: calc(80% - 70px);
  }
  .oppia-profile-username-large-screen {
    display: none;
  }
  .oppia-profile-username-small-screen {
    display: inline-block;
  }
  .oppia-profile-first-contributed {
    text-align: left;
    font-size: .6em;
  }
  .oppia-profile-user-stat-container-large-screen {
    display: none;
  }
  .oppia-profile-user-stat-container-small-screen {
    display: block;
  }
  .oppia-profile-stat-container-line-small-screen {
    display: block;
    border-top: 1px solid #7e7e7e;
  }
  .oppia-profile-user-bio {
    display: inline-block;
  }
}

/*
  This counteracts the increased line-height of 1.846 introduced by
  angular-material.css.
  TODO(sll): This is ugly. We should try not to have it, perhaps after
  angular-material has been upgraded.
*/
html p, body p {
  margin-top: -5px;
}

h1, h2 {
  color: #000;
}

h3 {
  color: #222;
  line-height: 1.1;
}

a {
  color: #0844aa;
  cursor: pointer;
}

a:hover {
  color: #3f2c76;
}

a:focus {
  outline-style: none;
}

/* Change all the borders of an input to red when there is validation errors. */
input.ng-dirty.ng-invalid, md-input-group.md-default-theme input.ng-dirty.ng-invalid {
  border-color: #F44336;
}

::-webkit-input-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
::-ms-input-placeholder {
  font-style: italic;
}

/* Change the color of odd-numbered lines in a table. */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f0f0f0;
}

.oppia-form-error {
  color: red;
}

.oppia-confusing-outcome-warning-text {
  color: rgb(200, 0, 0);
  font-style: italic;
}

.oppia-serious-warning-text {
  color: red;
}

.oppia-disabled-contenteditable {
  background-color: #eee;
  cursor: not-allowed;
  padding: 10px 5px;
  opacity: 1;
}

p {
  line-height: 1.2;
  margin: 0;
  text-align: left;
  word-spacing: 0;
}

.oppia-long-text p {
  line-height: 1.4;
  /* The following should be the same as the line-height (1.4). */
  margin: 1.4em 0;
}

.oppia-long-text-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.label {
  margin: auto 4px;
}
.label-info {
  background-color: #18447E;
}

/*
  The following rule ensures that, as the viewport gets
  smaller, any media will scale down according to its
  container's width.
*/
img, video, canvas {
  max-width: 100%;
}

textarea {
  width: 90%;
}

/*
  Styles for the development mode indicator
*/
.oppia-dev-mode {
  background-color: DarkSlateGray;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  bottom: 40px;
  color: white;
  left: 0;
  opacity: 0.7;
  padding: 4px 8px;
  /* This allows clicks to 'pass through' the element. */
  pointer-events: none;
  position: fixed;
  z-index: 100;
}

/*
  Styles for the link to the site feedback form.
*/
.oppia-site-feedback {
  background-color: #fff;
  border-radius: 2px;
  bottom: 4px;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  left: 4px;
  opacity: 0.5;
  padding: 4px 8px;
  position: fixed;
  /* This is needed so that the exploration summary tiles don't overlap the button in the library page. */
  z-index: 3;
}
.oppia-site-feedback:hover,
.oppia-site-feedback:focus,
.oppia-site-feedback:active {
  color: rgba(0,0,0,0.87);
  opacity: 1.0;
  text-decoration: none;
}
@media (max-width: 1100px) {
  .oppia-site-feedback span {
    display: none;
  }
}

/*
  Styles for the global navigation sidebar menu.
*/
.oppia-base-container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  position: relative;
}

/*
  Note that adding "overflow-y: scroll;" will break infinite scrolling in the
  search results page.
*/
.oppia-content-container {
  height: 100%;
  left: 0;
  position: relative;
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}

.oppia-sidebar-menu-open .oppia-content-container::after {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 100%;
}
.oppia-sidebar-menu-closed .oppia-content-container::after {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.oppia-sidebar-menu {
  background: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  width: 270px;
  z-index: 100;
}
.oppia-sidebar-menu-transition {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.oppia-sidebar-menu::after {
  background: rgba(0,0,0,0.2);
  content: '';
  display: none;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 100%;
}

.oppia-sidebar-menu-icon {
  height: 22px;
  margin: 0 16px 3px 6px;
  vertical-align: middle;
  width: 22px;
}

.oppia-sidebar-menu ul {
  font-size: 16px;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 10px;
}
.oppia-sidebar-menu hr {
  margin-bottom: 0;
  margin-top: 0;
}
.oppia-sidebar-menu .oppia-sidebar-section-header {
  color: #888;
  display: block;
  margin-left: 10px;
  padding: 1em 0 0 0;
  text-decoration: none;
}
.oppia-sidebar-menu a {
  color: #333;
  display: block;
  padding: 1em 0 1em 18px;
  text-decoration: none;
}
.oppia-sidebar-menu a:hover {
  background: rgb(243, 248, 255);
}
.oppia-sidebar-menu li.active a {
  background: rgba(243, 248, 255, 0.5);
}

.oppia-sidebar-logo {
  height: 32px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.oppia-sidebar-logo-container {
  color: #333;
  margin: 0 auto;
  width: 120px;
}

.oppia-sidebar-header {
  background: #eee;
  border-bottom: 1px solid #ccc;
  height: 56px;
  padding-top: 6px;
}

.oppia-sidebar-footer {
  bottom: 10px;
  color: #777;
  left: 25px;
  position: absolute;
}

.oppia-sidebar-footer div {
  margin-bottom: 10px;
}

.oppia-sidebar-footer a {
  display: inline;
  padding: 0 10px 0 0;
  margin-top: 5px;
}

.oppia-sidebar-footer a:hover {
  background: none;
}

.oppia-sidebar-footer a > img {
  width: 26px;
}

.oppia-sidebar-menu-open .oppia-sidebar-menu {
  box-shadow: 1px 0 3px rgba(0,0,0,0.12), 1px 0 2px rgba(0,0,0,0.24);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
.oppia-sidebar-menu-open .oppia-sidebar-menu::after {
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  width: 0;
}

/*
  Styles for footer
*/
.oppia-footer {
  background-color: #094142;
  bottom: 0;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  width: 100%;
}

.oppia-footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 30px 80px;
}

.oppia-footer-container a {
  color: #fff;
}

.oppia-footer-container h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.oppia-footer-container ul {
  padding-left: 0;
}

.oppia-footer-container li {
  list-style-position: inside;
  list-style-type: none;
}

.oppia-footer-padding {
  height: 198px;
}

.oppia-footer-padding-below-banner {
  height: 300px;
}

@media (max-width: 768px) {
  .oppia-footer-padding {
    height: 464px;
  }

  .oppia-footer-container {
    padding: 30px;
  }

}

/*
  This is needed for proper display of tabs. See

  https://github.com/angular-ui/bootstrap/commit/8620aedba99b05822311
*/
.navbar-nav, .pagination {
  cursor: pointer;
}

.navbar {
  border: 0;
  margin-bottom: 0;
  width: 100%;
}

.navbar-nav.oppia-navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  height: 56px;
  padding-top: 16px;
}

.oppia-navbar-breadcrumb {
  color: #fff;
  cursor: default;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 20px;
  padding-top: 13px;
}

.oppia-navbar-breadcrumb-separator {
  margin-right: 8px;
}
.oppia-navbar-breadcrumb-separator:after {
  content: ">";
}

.oppia-navbar-breadcrumb-icon {
  height: 20px;
  margin: 0 12px 4px 12px;
  width: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a.oppia-no-hover-change:hover,
.navbar-default .navbar-nav > li > a.oppia-no-hover-change:focus {
  background: inherit;
  color: #fff;
}

.navbar-nav > li.active > a, .navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a, .navbar-nav > li.active > a:focus {
  color: white;
  background: rgb(2, 38, 86);
}

.navbar-default .navbar-container {
  background: #009688;
  height: 56px;
}

.navbar-default .dropdown-menu {
  background: #fff;
  margin-top: 0;
}

.navbar-default .navbar-nav > li > a, {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav .open > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #009688;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav .open > a:hover,
.navbar-default .navbar-nav .open > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  background: #fff;
  color: #009688;
}

.navbar-default .navbar-nav > li.dropdown.open,
.navbar-default .navbar-nav > li.dropdown.open > a {
  background: #fff;
  color: #009688;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #06b9ac;
  color: #fff;
}

/* In Bootstrap, the link at the top of the default dropdown menu cannot be
   clicked -- so, in such cases (e.g. for the 'Sign in' link at the top right),
   we use this instead.
*/
.oppia-navbar-clickable-dropdown:hover ul.dropdown-menu,
.oppia-clickable-navbar-element:hover {
  display: block;
}

.oppia-top-right-menu-item-separator {
  margin-top: 5px;
  margin-bottom: 5px;
}

.oppia-share-dropdown-menu {
  min-width: 30px;
  width: 46px;
}

.oppia-share-dropdown-menu li > a {
  font-weight: bolder;
  padding: 10px;
  text-align: center;
}

.oppia-share-dropdown-menu:hover .oppia-share-dropdown-toggle {
  color: #009688;
  background-color: white;
}

.nav .dropdown:hover > .dropdown-menu {
  border: none;
}

/* Show the navbar submenu dropdowns on-hover rather than on-click, if the
   screen size is large enough. */
@media (min-width: 768px) {
  .nav .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .nav .dropdown:hover > .dropdown-menu > li > a {
    color: #009688;
  }
  .nav .dropdown:hover > .dropdown-menu > li > a:hover {
    background-color: #eee;
    color: #888;
  }
}

.oppia-main-content {
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.oppia-align-center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.oppia-exploration-ctrl {
  margin: 15px 0;
}

.oppia-loading-fullpage {
  border: 1px;
  border-radius: 5px;
  font-size: 2em;
  height: 100%;
  position: fixed;
  top: 35%;
  width: 100%;
  z-index: 1000;
}
.oppia-loading-dot-one {
  opacity: 0;
  animation: dot 1.5s infinite;
  animation-delay: 0.0s;
  -moz-animation: dot 1.5s infinite;
  -moz-animation-delay: 0.0s;
  -webkit-animation: dot 1.5s infinite;
  -webkit-animation-delay: 0.0s;
}
.oppia-loading-dot-two {
  opacity: 0;
  animation: dot 1.5s infinite;
  animation-delay: 0.3s;
  -moz-animation: dot 1.5s infinite;
  -moz-animation-delay: 0.3s;
  -webkit-animation: dot 1.5s infinite;
  -webkit-animation-delay: 0.3s;
}
.oppia-loading-dot-three {
  opacity: 0;
  animation: dot 1.5s infinite;
  animation-delay: 0.6s;
  -moz-animation: dot 1.5s infinite;
  -moz-animation-delay: 0.6s;
  -webkit-animation: dot 1.5s infinite;
  -webkit-animation-delay: 0.6s;
}

.oppia-navbar-button-container {
  border-radius: 0;
  margin-top: 10px;
}
/* In Bootstrap, white-space for dropdown list is no-wrap. Use this instead
   to align ticks and dropdown options.
*/
.oppia-navbar-button-container > .dropdown-menu > li > a {
  white-space: normal;
}
.btn.oppia-navbar-button {
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,1.0);
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;
  text-transform: uppercase;
}
.btn.oppia-navbar-button:hover {
  background-color: rgba(5, 190, 178, 1);
  color: rgba(255,255,255,1);
}

.btn:focus, .btn:active:focus {
    outline: 0;
}

@media (max-width: 767px) {
  .oppia-navbar-hide-on-small-width {
    display: none;
  }
}

.btn.oppia-unresolved-answer-button {
  background-color: white;
  border-radius: 12px;
  color: black;
  font-size: 14px;
  margin: 4px;
  padding: 8px 18px;
  text-align: left;
  width: auto;
}

.btn.oppia-unresolved-answer-button:hover {
  background-color: #eee;
}

.oppia-exp-summary-tiles-container {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 928px;
  min-height: 300px;
  padding-bottom: 24px;
  padding-top: 24px;
  width: 100vw;
}

/* Ensure that the summary tiles tiles remain centered. Note that these values
   would need to be updated if the summary tiles are changed. */
@media (max-width: 844px) {
  .oppia-exp-summary-tiles-container {
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 89vw;
    width: initial;
  }
}
@media (max-width: 632px) {
  .oppia-exp-summary-tiles-container {
    margin-left: 2vw;
    margin-right: 2vw;
    max-width: 96vw;
  }
}

.oppia-library-group {
  display: block;
  height: 350px;
  margin-bottom: 72px;
  margin-top: 36px;
  max-width: 928px;
  width: 100vw;
}

.oppia-library-group-header-container {
  width: -webkit-calc(100% - 120px);
  width: -moz-calc(100% - 120px);
  width: -o-calc(100% - 120px);
  width: calc(100% - 120px);
  max-width: 928px;
  min-width: 315px;
}

@media(max-width: 720px) {
  .oppia-library-group-header-container {
    width: 80%;
  }
}

@media(max-width: 480px) {
  .oppia-library-group-header-container {
    width: 100%;
  }
}

.oppia-library-group-header {
  display: inline-block;
  font-size: 2em;
  margin-bottom: 24px;
  margin-left: 44px;
  min-width: 126px;
}

.oppia-library-group-header.active {
  color: #04857c;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}


@media(max-width: 720px) {
  .oppia-library-group-header {
    width: -webkit-calc(80% - 120px);
    width: -moz-calc(80% - 120px);
    width: -o-calc(80% - 120px);
    width: calc(80% - 120px);
  }
}

.oppia-library-group-header a, .oppia-library-group-header span {
  color: inherit;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}

.oppia-group-page-header {
  color: #2c4841;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}

.oppia-library-group-header a:hover {
  color: #04857c;
  text-decoration: none;
}


@media (max-width: 720px) {
  .oppia-library-group-header {
    font-size: 6vw;
  }
}

.oppia-library-carousel-scroller {
  color: #2c4841;
  cursor: default;
  float: left;
  height: 60px;
  margin-top: 100px;
  max-width: 40px;
  padding: 0;
  position: relative;
  width: 10vw;
}
.md-button.oppia-library-carousel-scroller {
  cursor: pointer;
}
.oppia-library-carousel-scroller i {
  font-size: 36px;
  margin: 0;
  padding: 0;
  top: 50%;
}

.oppia-library-carousel-tiles {
  /*The height is adjusted to hide the scrollbars*/
  height: 290px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
  white-space: nowrap;
}

.oppia-library-carousel {
  height: 282px;
  float: left;
  max-width: 848px;
  overflow: hidden;
  position: relative;
}

.oppia-library-carousel-overlay-left,
.oppia-library-carousel-overlay-right {
  /*The display is set in Library.js*/
  display: none;
  height: 258px;
  margin-top: 12px;
  position: absolute;
  top: 0;
  width: 20px;
  z-index: 99;
}

.oppia-library-carousel-overlay-left {
  background: #b5bdc8;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  left: 0;
}

.oppia-library-carousel-overlay-right {
  background: #b5bdc8;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  right: 0;
}

.oppia-dashboard-aggregated-stats md-card {
  background: #fff;
  margin: 0 7.5px 40px 7.5px;
}

.oppia-dashboard-aggregated-stats .stats-card {
  border-right: 1px solid #bbb;
  margin: 10px 0;
  padding-left: 35px;
  width: 50%;
}
.oppia-dashboard-aggregated-stats .stats-card:last-child {
  border: none;
}

.stats-card p {
  color: #555;
}

.stats-card .stat-value {
  margin: 2px 0;
}

.oppia-dashboard-tabs {
  border-bottom: 1px solid #eee;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}

.oppia-dashboard-tabs li {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
  width: 200px;
}

.oppia-dashboard-tabs-active .oppia-dashboard-tabs-text,
.oppia-dashboard-tabs-active .oppia-dashboard-tabs-text:hover {
  border-bottom: 4px solid #009688;
  color: #009688;
  margin-left: 7.5px;
}

.oppia-dashboard-tabs .oppia-dashboard-tabs-text,
.oppia-dashboard-tabs .oppia-dashboard-tabs-text:hover {
  color: #009688;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.oppia-dashboard-tabs .oppia-dashboard-tabs-text:hover,
.oppia-dashboard-tabs .oppia-dashboard-tabs-text:focus {
  text-decoration: none;
}

.oppia-dashboard-empty-text {
  padding-top: 50px;
}

.oppia-dashboard-tabs .list-card-view-toggle {
  margin-left: auto;
  margin-right: 7.5px;
  width: auto;
}

.list-card-view-toggle button {
  background: #fff;
  border: 1px solid #ddd;
  color: #009688;
  height: 32px;
  margin-top: 7px;
  padding: 5px 12px;
}

.list-card-view-toggle .card-view-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.list-card-view-toggle .list-view-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -1px;
}

.list-card-view-toggle .dashboard-active-view {
  background: #009688;
  color: #fff;
}

li.sort-explorations-select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

li.sort-explorations-select .sort-by-text,
li.sort-explorations-select .sort-options,
li.sort-explorations-select .sort-order {
  display: inline-block;
}

li.sort-explorations-select .sort-by-text {
  margin: 8px 8px 0 ;
}

li.sort-explorations-select .sort-options {
  background: #fff;
  border-color: #ddd;
  height: 32px;
  margin: 7px 7px 0 0;
}

li.sort-explorations-select .sort-order {
  cursor: pointer;
  margin: 14px 8px 0 0;
}

/* Rules for the tiles in the creator dashboard. */

.oppia-dashboard-intro-card {
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}
.oppia-dashboard-intro-card p {
  margin-bottom: 12px;
}
.oppia-dashboard-intro-picture {
  width: 400px;
}
.oppia-dashboard-intro-button {
  background-color: #015c53;
  border-radius: 0;
  color: #fff;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;
  width: 200px;
}
.oppia-dashboard-intro-button:hover,
.oppia-dashboard-intro-button:focus,
.oppia-dashboard-intro-button:active {
  background-color: rgba(5, 190, 178, 1);
  color: #fff;
}

md-card.oppia-dashboard-tile {
  background-color: #fff;
  color: #888;
  height: 120px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.oppia-dashboard-tile:hover {
  background-color: #f9f9f9;
}

.oppia-dashboard-tile-container-link {
  height: 100%;
  width: 100%;
}

.oppia-dashboard-tile-contents {
  height: 100%;
  padding: 23px 58px;
  width: 100%;
}
.oppia-dashboard-tile-contents:hover {
  text-decoration: none;
}

.oppia-dashboard-tile-image-container {
  height: 120px;
  left: 0;
  top: 0;
  width: 120px;
}
/* This centers the image horizontally and vertically. */
.oppia-dashboard-tile-image {
  height: 120px;
  width: 120px;
}
.oppia-dashboard-tile-image-private {
  opacity: 0.2;
}
.oppia-dashboard-tile-details {
  padding-left: 100px;
  padding-top: 5px;
}
.oppia-dashboard-tile-first-row {
  margin-bottom: 8px;
}
.oppia-dashboard-tile-title {
  color: #333;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-weight: bold;
}
@media (max-width: 365px) {
  .oppia-dashboard-tile-image-container {
    display: none;
  }
  .oppia-dashboard-tile-details {
    padding-left: 0;
  }
}

.oppia-dashboard-tile-second-row {
  color: rgba(0,0,0,0.65);
  font-size: 0.9em;
}

.oppia-signup-page-title {
  color: #222;
  font-size: 1.6em;
  margin: 0 0 30px 0;
}

.oppia-content {
  margin: 0 auto;
  max-width: 630px;
  -webkit-overflow-scrolling: touch;
  width: 80%;
}

.oppia-toast-container {
  position: fixed;
  z-index: 999999;
}

.oppia-toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.oppia-toast {
  position: relative;
  overflow: hidden;
  padding: 15px 15px 15px 50px;
  top: 60px;
  width: 500px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
  opacity: 0.8;
  margin: auto;
  margin-top: 5px;
}
.oppia-toast-container > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
.toast-warning {
  background-image: url("/assets/common/images/general/warning.png");
}

@media all and (max-width: 240px) {
  .oppia-toast {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .oppia-toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .oppia-toast {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .oppia-toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .oppia-toast {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

.oppia-form input.ng-invalid.ng-dirty {
  border: 2px solid #FA787E;
}

.oppia-help {
  height: 16px;
  width: 16px;
}

.oppia-main-body {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
}

.oppia-cc-icon {
  bottom: 34px;
  opacity: 0.4;
  position: fixed;
  right: 25px;
}

.oppia-cc-icon:hover {
  opacity: 0.7;
}

.oppia-wide-panel {
  border: 1px solid #dde0FF;
  border-radius: 20px;
  width: 100%;
}

.oppia-error-wide-container {
  margin-bottom: 30px;
}

.oppia-wide-panel-content, .oppia-forum {
  font-size: large;
  margin: 5px auto;
  min-height: 400px;
  padding: 20px;
}
.oppia-forum {
  margin-top: 0;
}

.oppia-warning {
  background: #F9EDBE;
  width: 80%;
  max-width: 700px;
}
.oppia-warning-chevron {
  font-size: 1em;
  padding-left: 4px;
  padding-top: 4px;
}

.oppia-placeholder {
  color: #888;
  font-style: italic;
}

.oppia-save-draft-button, .oppia-editor-publish-button {
  height: 34px;
}

.oppia-save-draft-button-padding {
  padding-right: 140px;
}

@media(max-width: 1099px) {
  .oppia-editor-publish-button {
    padding-bottom: 3px;
  }
  .oppia-save-draft-button {
    padding-bottom: 3px;
    width: 40px;
  }
}

@media(min-width: 1100px) {
  .material-icons.oppia-save-publish-button-icon,
  .oppia-save-publish-loading.oppia-save-publish-button-icon {
    display: none;
  }

  .oppia-editor-publish-button {
    padding-bottom: 6px;
  }
  .oppia-save-draft-button {
    padding-bottom: 6px;
    width: 125px;
  }
}

/* Overwrite the Bootstrap defaults. */
.nav > li > a.oppia-editor-navbar-tab-anchor {
  padding: 15px 11px;
}

.oppia-save-publish-loading.oppia-save-publish-button-icon {
  font-size: 30px;
  line-height: 14px;
  letter-spacing: -4px;
  font-style: normal;
  text-align: center;
}

@media(max-width: 1099px) {
  .oppia-save-publish-button-label {
    display: none;
  }
}

.oppia-state-name-container {
  background: #eee;
  border-bottom-left-radius: 5px;
  margin: 2px 7px;
  padding: 6px;
}

.oppia-editor-page-container {
  margin-bottom: 60px;
}

.oppia-editor-header {
  font-size: 16px;
  margin-top: 35px;
}

.oppia-editor-cards-container {
  margin: auto;
  max-width: 700px;
}
.oppia-editor-card-with-avatar {
  background: rgb(255,255,255);
  margin: 20px auto 0 auto;
  max-width: 700px;
  padding: 0;
}

.oppia-editor-card-avatar {
  height: 36px;
  left: -18px;
  position: absolute;
  top: 28px;
  width: 36px;
}

.oppia-editor-card {
  background: rgb(255,255,255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 800px;
  padding: 32px;
  padding-bottom: 40px;
}

.oppia-editor-avatar {
  height: 24px;
  left: -43px;
  position: absolute;
  width: 24px;
}

pre.oppia-pre-wrapped-text {
  white-space: pre-wrap;
}

.oppia-editor-card-body {
  position: relative;
}
.oppia-editor-card-body h3 {
  font-size: 1.8em;
  margin: 0;
}
.oppia-editor-card-body form {
  margin: 0;
}

.oppia-editor-card-section-container {
  background: rgba(5,140,166,0.1);
  padding-bottom: 1px;
  padding-top: 5px;
}

.oppia-editor-card-section {
  padding: 20px 50px 20px 35px;
}

.oppia-state-content {
  min-height: 20px;
  padding: 5px 0 15px 10px;
}

.oppia-state-content-display, .oppia-param-changes-display {
  max-width: 610px;
  text-align: left;
}

/* These rules must be kept in sync with corresponding rules in
   pages/exploration_player/conversation_skin_directive.html
   (those with '.conversation-skin-tutor-card-top-content > p,
   .conversation-skin-oppia-feedback-content > p,
   .conversation-skin-learner-answer-content > p,
   .conversation-skin-help-card-content > p' selectors specifying
    the same line-height, margin-top and margin-bottom attributes)
*/
.oppia-state-content-display-html > p,
.form-control.oppia-rte-content > div > p {
  line-height: 28px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.oppia-state-content-display-html > p:first-child,
.form-control.oppia-rte-content > div > p:first-child {
  margin-top: 0;
}

.oppia-state-content-display-html > p:last-child,
.form-control.oppia-rte-content > div > p:last-child {
  margin-bottom: 0;
}

.oppia-prevent-selection {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.oppia-save-state-item-button {
  margin-left: 5px;
}

.oppia-editable-section {
  cursor: pointer;
  position: relative;
}

/* this classes below are used to graymask
 * outcome section when one hovers and
 * editable section when one hovers over them
 */

.oppia-editable-section .oppia-rule-preview-section-mask,
.oppia-editable-section .oppia-editable-section-mask {
  background-color: #eee;
  bottom: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.oppia-editable-section:hover .oppia-rule-preview-section-mask,
.oppia-editable-section:hover .oppia-editable-section-mask {
  border-radius: 4px;
  opacity: 0.4;
  transition: all 200ms;
  -webkit-transition: all 200ms;
}

.oppia-editable-section:hover .oppia-interaction-preview {
  background: rgba(5, 140, 166, 0.5);
  border-radius: 4px;
}

.oppia-interaction-preview {
  opacity: 0.5;
  padding: 4px;
}

.oppia-editor-edit-icon {
  font-size: 16px;
  opacity: 0.2;
  position: absolute;
  right: -22px;
  top: 3px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.oppia-editable-section:hover .oppia-editor-edit-icon {
  opacity: 0.8;
}

.oppia-click-to-start-editing {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 50;
}

.oppia-editor-trash-icon {
  opacity: 0.2;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.oppia-editor-trash-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Styles for the state graph vizualization. */

.oppia-state-graph-container {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 400px;
  overflow-y: hidden;
  position: relative;
}

.oppia-state-graph-animate-show {
  opacity: 1;
}
.oppia-state-graph-animate-show.ng-hide-add, .oppia-state-graph-animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}
.oppia-state-graph-animate-show.ng-hide {
  opacity: 0;
}

/* Styles for the collections learner view */

.oppia-collection-player-tiles-container {
  height: 100%;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-height: 500px;
  padding-bottom: 25px;
  padding-left: 50px;
  position: relative;
}
.oppia-collection-player-tiles-container .oppia-page-heading {
  color: #005048;
}

.oppia-collection-player-tile-section {
  margin-bottom: 24px;
}

.oppia-collection-player-small-text {
  color: #005048;
  font-style: italic;
  font-size: 1em;
  margin-top: 12px;
  margin-bottom: 6px;
}

/* Styles for the statistics page. */

.oppia-back-arrow {
  float: left;
  margin-right: 5px;
}

.oppia-nested-link {
  color: #0844aa;
  cursor: pointer;
}

.oppia-nested-link:hover {
  color: #3f2c76;
  text-decoration: underline;
}

.oppia-add-interaction-button,
.oppia-add-response-button,
.oppia-add-fallback-button {
  background-color: rgba(5,140,166,0.9);
  border: 0;
  border-radius: 0;
  color: white;
  opacity: 0.9;
  padding: 7px;
  width: 100%;
}

.oppia-add-interaction-button:active,
.oppia-add-interaction-button:focus,
.oppia-add-interaction-button:hover,
.oppia-add-response-button:active,
.oppia-add-response-button:focus,
.oppia-add-response-button:hover,
.oppia-add-fallback-button:active,
.oppia-add-fallback-button:focus,
.oppia-add-fallback-button:hover {
  background-color: rgba(5,140,166,1);
  color: white;
  opacity: 1;
}

.oppia-add-rule-button {
  background-color: rgba(165,165,165,0.9);
  border: 0;
  border-radius: 0;
  color: white;
  opacity: 0.9;
  padding: 7px;
  width: 100%;
}

.oppia-add-rule-button:active,
.oppia-add-rule-button:focus,
.oppia-add-rule-button:hover {
  background-color: rgba(165,165,165,1);
  color: white;
  opacity: 1;
}

/* Workaround to ensure that single-line paragraphs comprising multiple-choice
   options are displayed inline. */
.oppia-multiple-choice-rule p {
  display: inline;
}
.oppia-multiple-choice-rule p::before {
  content: ' ';
}

.oppia-interaction-tile {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  outline: 1px solid #aaa;
  vertical-align: top;
  width: 30%;
}
.oppia-interaction-tile:hover {
  outline: 2px solid #009688;
}
.oppia-interaction-tile-name {
  border-top: 1px solid #ccc;
  padding: 3px 0;
  position: relative;
  text-align: center;
}
.oppia-interaction-customization-label {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 6px;
}

.oppia-small-delete-button {
  padding-top: 3px;
}

.oppia-delete-param-change-button,
.oppia-delete-interaction-button,
.oppia-close-popover-button,
.oppia-delete-list-entry-button {
  background: none;
  border: 0;
  color: #000;
  cursor: pointer;
  height: 30px;
  opacity: 0.5;
  width: 30px;
}
.oppia-delete-param-change-button,
.oppia-delete-interaction-button,
.oppia-close-popover-button {
  position: absolute;
}
.oppia-delete-interaction-button,
.oppia-close-popover-button {
  right: 8px;
  top: 8px;
}
.oppia-delete-param-change-button {
  right: -30px;
  top: 0;
}
.oppia-delete-response-button,
.oppia-delete-rule-button {
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 20px;
}
.oppia-delete-list-entry-button {
  margin-top: 6px;
}
.oppia-delete-param-change-button:hover,
.oppia-delete-interaction-button:hover,
.oppia-close-popover-button:hover,
.oppia-delete-response-button:hover,
.oppia-delete-rule-button:hover,
.oppia-delete-list-entry-button:hover {
  opacity: 1;
}



.oppia-graph-resize-button {
  border: 0;
  padding: 9px 10px 6px 10px;
  position: absolute;
  right: 2px;
  top: 2px;
}

.nav-pills > li > a.oppia-rule-tab {
  background: rgba(0,0,0,0.05);
  border-radius: 0;
  border-bottom: 1px solid #f0f0f0;
  color: #444;
  padding: 7px 15px;
  width: 100%;
}
.nav-pills > li > a.oppia-rule-tab-disabled {
  cursor: default;
}
.nav-pills > li:hover > a.oppia-rule-tab {
  background: rgba(0,0,0,0.1);
}
.nav-pills > li:hover > a.oppia-rule-tab-disabled {
  background: rgba(0,0,0,0.05);
}
.nav-pills > li.active > a.oppia-rule-tab-active {
  background: rgba(5,140,166,0.1);
  border-right: 0;
  color: #333;
}

.oppia-default-rule-tab {
  border-left: 1px solid #ddd;
}

.oppia-rule-body-container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.oppia-readonly-rule-tile {
  border-radius: 4px;
  margin-bottom: 0;
  margin-left: 0;
  padding: 4px;
}

.oppia-readonly-rule-tile img, .oppia-rule-tab img {
  max-height: 50px;
}

.oppia-rule-dest-link {
  margin-left: 5px;
  position: absolute;
  width: 400px;
  /* This must be larger than the z-index in
     .oppia-interactive-section-click-handler, so that the rule does not
     switch to edit mode when the destination link is clicked. */
  z-index: 200;
}

.oppia-rule-save-cancel-buttons {
  margin-bottom: 5px;
  margin-top: 2px;
}

.oppia-rule-block {
  background-color: white;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.oppia-rule-block.active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: -2px;
  z-index: 1;
}

.oppia-response-header-block {
  overflow: hidden;
  padding-left: 24px;
  white-space: nowrap;
  width: 640px;
}

.oppia-response-header {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.oppia-rule-header {
  color: rgb(120, 120, 120);
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.oppia-rule-sort-handle, .oppia-fallback-sort-handle {
  cursor: move;
  left: 10px;
  margin-left: 5px;
  opacity: 0.3;
  position: absolute;
  top: 6px;
  width: 25px;
  /* This is needed for the sort handle to be above the rule tile. */
  z-index: 1;
}

.oppia-rule-header-warning-placement {
  left: -0.5em;
  position: absolute;
  top: 6px;
  z-index: 2;
}

.oppia-rule-header-warning-style {

  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);

  background-color: yellow;
  border:1px solid black;
  color: firebrick;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height:22px;
  line-height: 22px;
  text-align: center;
  transform: rotate(-10deg);
  width:22px;
}

.oppia-param-change-sort-handle {
  cursor: move;
  left: -20px;
  opacity: 0.3;
  position: absolute;
  top: 4px;
}

.oppia-rule-edit-feedback {
  position: relative;
}

.oppia-rule-details-header {
  margin-bottom: 6px;
}

.about-tabs {
  margin-bottom: 0;
}

table.oppia-padded-table {
  border: 1px solid black;
  padding: 5px;
}
table.oppia-padded-table th, table.oppia-padded-table td {
  border: 1px solid black;
  padding: 5px;
}

/* Styles for parameter labels. */
oppia-parameter {
  background-color: #18447E;
  border-radius: .25em;
  color: white;
  display: inline;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  margin: auto 4px;
  padding: .2em .6em .3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.oppia-param-editor-row {
  position: relative;
}

.oppia-param-display-row {
  margin-bottom: 4px;
}

.oppia-tutorial-tooltip {
  min-width: 400px !important;
}

/* Hide the search icon in the rule destination dropdown. */
.oppia-rule-dest-select2 .select2-search input {
  background: none;
}

.oppia-dashboard-row {
  background-color: #fff;
  cursor: pointer;
  margin-bottom: -5px;
  overflow: auto;
  position: relative;
}

.oppia-dashboard-row:hover {
  background: #eee;
}
.oppia-dashboard-row-recent {
  background: #fff4ca;
}
.oppia-dashboard-row-recent:hover {
  background: #ffe279;
}

.oppia-dashboard-status-green {
  color: #009688;
  font-weight: bold;
  text-transform: capitalize;
}

.oppia-dashboard-status-grey {
  color: #888;
  text-transform: capitalize;
}

.oppia-dashboard-status-orange {
  color: #f7a541;
  font-weight: bold;
  text-transform: capitalize;
}

.oppia-dashboard-tile-metadata-parent {
  float: right;
  padding-top: 15px;
  width: 30%;
}

.oppia-dashboard-tile-metadata {
  border-left-color: #DADADA;
  border-left-style: ridge;
  border-left-width: thin;
  color: #888;
  font-size: 0.85em;
  height: 85px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

md-card.oppia-dashboard-tile {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #888;
  height: 120px;
  margin: 0;
  padding: 0;
  position: relative;
}

.oppia-dashboard-list-view-item {
  background: #fff;
  margin: 20px 7.5px 0px 7.5px;
  padding: 10px 20px;
}

.oppia-dashboard-table {
  width: 100%;
  font-size: 15px;
}

.oppia-dashboard-table tr:first-child {
  border-bottom: 2px solid #ccc;
  color: #555;
}

.oppia-dashboard-table .oppia-dashboard-table-headings p {
  display: inline;
}

.oppia-dashboard-table th {
  padding: 12px 3px;
}

.oppia-dashboard-table td {
  padding: 7px 3px;
}

.exploration-list-item:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

.exploration-list-item .exp-private-text {
  font-size: 15px;
}

.exploration-list-item .featured-badge {
  background-color: #009688;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 10px;
  padding: 4px 6px;
  text-transform: uppercase;
  vertical-align: middle;
}

.oppia-exp-arrow:after {
  border-bottom: 16px solid #fff;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: -114px;
  content: '';
  height: 0;
  left: 70px;
  position: absolute;
  width: 0;
}

.oppia-exp-dropdown-stats {
  background: white;
  left: 0;
  margin-top: 111px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.oppia-exp-dropdown-stats .stat-block {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.stat-block .heading-text span {
  float: right;
}

.stat-block .stat-block-values {
  background: #ddd;
  font-size: 0.9em;
  margin: 8px -18px -11px;
  padding: 10px 18px;
  word-break: break-all;
}

.oppia-exp-dropdown-stats .open-in-editor-btn {
  background: #009688;
  color: white;
  margin: 15px 0 0 10px;
  text-transform: uppercase;
}

ul.oppia-dashboard-tiles {
  list-style-type: none;
  margin-top: 15px;
  padding-left: 0;
}

.oppia-large-modal-window .modal-dialog {
  max-width: 900px;
  width: 80%;
}
.oppia-large-modal-window .modal-body {
  height: 60vh;
}

.oppia-embed-modal-code {
  background-color: #fcfcfc;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
}

.oppia-embed-modal-code:hover {
  background-color: #f9f9f9;
}

.oppia-version-mismatch-modal .oppia-content {
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.oppia-vcenter {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.oppia-disabled-link {
  opacity: 0.6;
  pointer-events: none;
}

/* CSS3 Animations */
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.oppia-animate-spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;

  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease-in-out;

  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

oppia-expression-error-tag {
  background-color: #d9534f;
  border-radius: .25em;
  color: white;
  display: inline;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  margin: auto 4px;
  padding: .2em .6em .3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
oppia-expression-error-tag:after {
  content: "Expression parsing error!";
}

/* Adjust the z-index for the tutorial components so that they do not go
   above the navbar.
*/
.ng-joyride-element-static[data-original-title],
div.ng-joyride-title {
  z-index: 999;
}
.ng-joyride.popover.sharp-borders {
  z-index: 1002;
}
div#ng-curtain {
  z-index: 997;
}

/* Add inter-paragraph spacing to the ng-joyride tutorial contents. */
.ng-joyride .popover-content p {
  margin-top: 10px;
}

.oppia-navbar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: default;
  height: 56px;
  left: -2%;
  padding-left: 2%;
  padding-right: 2%;
  position: fixed;
  width: 104%;
  /* This is larger than the editor tutorial's z-index, but smaller than
     the z-index for Bootstrap modals.
  */
  z-index: 1005;
}

.oppia-top-of-page-padding {
  /* This ensures that content is not tucked behind the fixed navbar. */
  height: 56px;
}
.oppia-navbar-menu {
  margin-left: 10px;
  opacity: 0.9;
  outline-color: transparent;
  padding-top: 20px;
}
.oppia-navbar-menu-icon {
  color: #fff;
  margin-top: -5px;
}
.oppia-navbar-menu:hover {
  opacity: 1;
}

.oppia-navbar-brand-name {
  float: left;
  height: 56px;
  line-height: 20px;
  margin-left: -10px;
}

.oppia-logo {
  display: inline-block;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  height: 40px;
  margin-top: 8px;
}
.oppia-logo-wide {
  margin-left: 25px;
}
.oppia-logo-small {
  margin-left: 6px;
}

@media (min-width: 500px) {
  .oppia-navbar-tabs-narrow {
    /*
      This needs to take i18n of the "Create" and "Sign in" buttons into
      account.
    */
    min-width: 260px;
  }
  .oppia-navbar-tabs {
    /*
      This needs to take i18n of the "Create" and "Sign in" buttons into
      account.
    */
    min-width: 580px;
  }
}
.nav > li > a.oppia-navbar-tab {
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 14px;
  padding: 17px 12px 10px 12px;
  text-transform: uppercase;
}
.oppia-navbar-dropdown-toggle,
.oppia-navbar-tab {
  height: 56px;
  color: #fff;
}
.oppia-navbar-profile {
  float: right;
}
.oppia-navbar-nav > li > a:hover,
.oppia-navbar-nav > li > a:focus,
.oppia-navbar-nav .open > a,
.oppia-navbar-nav .open > a:hover,
.oppia-navbar-nav .open > a:focus,
.oppia-navbar-tabs > li > a:hover,
.oppia-navbar-tabs > li > a:focus {
  background-color: #fff;
  color: #009688;
}
.oppia-navbar-profile-admin > li > a:hover,
.oppia-navbar-profile-admin > li > a:focus,
.oppia-navbar-profile-admin .open > a,
.oppia-navbar-profile-admin .open > a:hover,
.oppia-navbar-profile-admin .open > a:focus,
.oppia-navbar-tabs-admin > li > a:hover,
.oppia-navbar-tabs-admin > li > a:focus {
  background-color: #fff;
  color: #00376d;
}
.oppia-navbar-dropdown {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
.oppia-navbar-dropdown > li > a {
  color: #009688;
}
.oppia-navbar-dropdown > li > a:hover,
.oppia-navbar-dropdown > li > a:focus {
  background-color: #eee;
  color: #888;
}
.oppia-navbar-profile-picture-container {
  margin-left: 10px;
  text-align: right;
}
.oppia-navbar-profile-picture {
  height: 32px;
  width: 32px;
}
.oppia-navbar-role-indicator {
  background-color: #f7a541;
  border-radius: 20px;
  bottom: 10px;
  height: 15px;
  position: absolute;
  right: 25px;
  width: 15px;
}
.oppia-navbar-role-text {
  bottom: 0;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  position: absolute;
  right: 3px;
}

.oppia-navbar-dashboard-indicator {
  background-color: #f7a541;
  border-radius: 20px;
  height: 15px;
  position: absolute;
  right: 25px;
  top: 8px;
  width: 15px;
}
.oppia-navbar-dashboard-indicator-text {
  bottom: 0;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  position: absolute;
  right: 4px;
}

.oppia-select {
  background: white;
  border: #ddd solid 1px;
  border-radius: 4px;
  color: #555;
  padding: 5px;
}

.oppia-feedback-tab-row {
  cursor: pointer;
}
.oppia-feedback-tab-row:hover {
  background: #eee;
}

.oppia-editor-sidebar {
  max-width: 500px;
  padding: 7px 5px 0 5px;
  position: absolute;
  right: 15px;
  top: 28px;
  width: 100%;
}
.oppia-editor-sidebar accordion .panel {
  border-radius: 0;
}
.oppia-editor-sidebar accordion .panel .panel-heading {
  background-color: #ddd;
  border-radius: 0;
  padding: 3px 10px;
}
.oppia-editor-sidebar accordion .panel .panel-title {
  font-weight: bold;
}
.oppia-editor-sidebar accordion .panel .panel-body {
  border-radius: 0;
  padding-right: 25px;
}
.oppia-editor-sidebar-section-header {
  background-color: #ddd;
  font-size: 0.75em;
  font-weight: bold;
  padding: 3px 10px;
}
.oppia-editor-sidebar-section-body {
  background-color: #fff;
  margin-bottom: 5px;
  padding-right: 25px;
  padding: 0 10px;
}

.oppia-editor-warnings-indicator {
  border-style: inset;
  border-width: 0 9px 14px 9px;
  bottom: 10px;
  font-size: 0.7em;
  font-weight: bold;
  height: 0;
  position: absolute;
  right: 5px;
  width: 0;
}
.oppia-editor-warnings-error-color {
  border-color: transparent transparent rgb(244,244,15) transparent;
  color: #333;
}
.oppia-editor-warnings-critical-color {
  border-color: transparent transparent rgb(231,15,15) transparent;
  color: #fff;
}
.oppia-editor-warnings-count {
  margin-left: -3px;
}

.oppia-exploration-open-threads-indicator {
  border-radius: 10%;
  bottom: 10px;
  height: 13px;
  position: absolute;
  right: 5px;
  text-align: center;
  width: 16px;
}
.oppia-exploration-open-threads-color {
  background-color: #4078C0;
  border: 1px solid rgb(243, 243, 243);
}
.oppia-exploration-open-threads-count {
  bottom: 8px;
  color: white;
  font-size: 9px;
  position: relative;
}

.dropdown-menu.oppia-editor-warnings-box {
  background: #fcf8e3;
}
.oppia-editor-warnings-header {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 5px;
}
.oppia-editor-warnings-text {
  font-size: 0.9em;
  padding: 2px 5px;
  width: 250px;
}
.oppia-editor-warnings-separator {
  margin: 0;
}

/* Adding multilevel submenu functionality to Bootstrap's dropdown
    See http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3
*/
.oppia-dropdown-submenu {
  position: relative;
}

.oppia-dropdown-submenu > .dropdown-menu {
  border-radius: 0 6px 6px 6px;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -moz-border-radius: 0 6px 6px;
  top: 0;
  -webkit-border-radius: 0 6px 6px 6px;
}

.oppia-dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.oppia-dropdown-submenu > a:after {
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  content: " ";
  display: block;
  float: right;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  width: 0;
}

.oppia-dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.oppia-dropdown-submenu.pull-left {
  float: none;
}

.oppia-dropdown-submenu.pull-left > .dropdown-menu {
  border-radius: 6px 0 6px 6px;
  left: -100%;
  margin-left: 10px;
  -moz-border-radius: 6px 0 6px 6px;
  -webkit-border-radius: 6px 0 6px 6px;
}

.oppia-profile-picture .oppia-profile-picture-mask {
  background-color: #eee;
  bottom: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.oppia-profile-picture:hover .oppia-profile-picture-mask {
  border-radius: 4px;
  opacity: 0.7;
  transition: all 200ms;
  -webkit-transition: all 200ms;
}

.oppia-profile-picture-edit-prompt {
  background-color: #333;
  border-radius: 5px;
  color: white;
  left: 50%;
  min-width: 120px;
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.oppia-profile-picture-crop-area {
  background: #E4E4E4;
  height: 350px;
  margin-top: 20px;
  position: relative;
  width: 500px;
}
.oppia-profile-picture-reset-button {
  position: absolute;
  right: -50px;
  top: 0;
}

.oppia-page-cards-container {
  margin: auto;
  max-width: 95%;
  position: relative;
  width: 660px;
}

.oppia-page-card {
  background: rgb(255,255,255);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 40px;
  padding: 30px 55px 30px 45px;
}
.oppia-page-card li {
  margin-bottom: 10px;
}

.oppia-notifications-dashboard-card {
  padding: 15px 40px;
}

.oppia-notification-content {
  color: black;
  display: inline-block;
  float: left;
}

.oppia-notification-last-updated {
  float: right;
}

@media (max-width: 500px) {
  .oppia-notification-content,
  .oppia-notification-last-updated {
    display: inline;
  }
}

.oppia-about-anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.oppia-about-right-menu {
  left: 50%;
  margin-left: 360px;
  position: fixed;
  top: 100px;
  width: 300px;
}

.oppia-about-right-menu p {
  line-height: 1;
  margin: 0.5em 0;
}
.oppia-about-right-menu ul {
  list-style-type: none;
  padding-left: 20px;
}

/* Hide the 'Skip' icon on the editor tutorial. */
.skipBtn i {
  display: none;
}

.oppia-page-heading {
  margin-bottom: 5px;
}

.oppia-page-heading-subtext {
  font-size: smaller;
  opacity: 0.7;
}

.oppia-rating-star-active {
  color: #FFD700;
}

.oppia-transition-200 {
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

/* Styles for the feedback popover component in the learner view. */
.oppia-feedback-popover-submit-btn-enabled {
  color: #009688;
}
.oppia-feedback-popover-textarea {
  border: 1px solid rgba(0,0,0,0.2);
  margin-top: 4px;
  padding: 4px;
  resize: none;
  width: 200px;
}

.oppia-rte-toolbar-image {
  padding-bottom: 8px;
  padding-top: 8px;
}

.ta-scroll-window.oppia-rte-content {
  width: 100%;
}

.ta-editor.form-control.oppia-rte-content, .ta-scroll-window.form-control.oppia-rte-content {
  min-height: 80px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.ta-editor .placeholder-text {
  color: #999;
  font-size: 0.9em;
}

.form-control.oppia-rte-content > .ta-bind {
  height: auto;
  min-height: 80px;
}

.form-control.oppia-rte-content img.block-element {
  display: block;
  margin: auto;
}

/* Styles for the editor training interfaces. */

.preview-conversation-skin-card-row-container {
  margin-bottom: 17px;
  table-layout: fixed;
  width: 100%;
}

.preview-conversation-skin-card-row {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.preview-conversation-skin-row-avatar {
  padding-right: 10px;
  width: 30px;
}

.preview-conversation-skin-row-avatar-img {
  height: 24px;
  max-width: 24px;
}

.preview-conversation-skin-oppia-content {
  padding-left: 15px;
  padding-top: 2px;
}

.preview-conversation-skin-learner-input {
  padding-left: 15px;
}

md-card.preview-conversation-skin-inline-interaction {
  background-color: #f6f6f6;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  margin: -20px auto;
  max-width: 560px;
}

md-card.preview-conversation-skin-supplemental-card {
  background-color: #f6f6f6;
  margin: -5px 0;
  max-width: 560px;
}

.preview-conversation-skin-supplemental-interaction {
  margin: 0 auto;
  max-width: 560px;
}

.trained-feedback-selection-form-container {
  margin-top: -5px;
}

.trained-feedback-selection-container {
  border-bottom: thin solid #EEEEEE;
  margin-bottom: 5px;
}

.trained-feedback-selection-container md-input-group.md-default-theme label {
  border-bottom: 0;
}

.trained-feedback-selection {
  background: none;
  border: none;
  color: rgba(0,0,0,0.5);
  margin: 0;
  padding-left: 0;
  padding-top: 9px;
  text-align: left;
  /* This is needed so that images stay bounded by the container in Firefox. */
  width: 100%;
}

.trained-feedback-selection:hover {
  color: #00897B;
}

.oppia-modal-information-card .modal-dialog {
  margin: 100px auto;
  width: 400px;
}

.oppia-modal-information-card .modal-dialog .modal-content {
  border-radius: 0;
}

.oppia-modal-information-card .modal-dialog .modal-content md-card {
  border-radius:0;
  margin: 0;
  padding: 0;
}

.oppia-lost-changes > li {
  margin: 5px 0 5px 10px;
}

.oppia-lost-changes > li > .state-edit-desc {
  margin: 3px auto auto 25px;
}

.oppia-lost-changes > li .state-edit-desc .content > *,
.oppia-lost-changes > li .state-edit-desc .feedback > * {
  padding: 4px 0 0 20px;
}

.oppia-lost-changes > li > .state-edit-desc > .sub-edit {
  margin-left: 20px;
}

.oppia-lost-changes > li > .state-edit-desc > .rules-list > li {
  margin-left: 20px;
}

.oppia-info-card-title {
  bottom: 0;
  color: white;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  margin: 12px 0;
  padding: 0;
  position: absolute;
}

.oppia-info-card-bg-image {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}

.oppia-info-card-logo-thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 20px;
  position: relative;
}

.oppia-info-card-content {
  padding: 10px 20px 10px 20px;
}

.oppia-info-card-content p {
  display: block;
  font-size: 1.0em;
  line-height: 1;
  padding: 12px 0 24px 0;
  position: relative;
  word-spacing: 0;
}

.oppia-info-card-content .card-metrics {
  margin-top: 10px;
  padding: 0;
}

.oppia-info-card-content .card-metrics li {
  font-size: 14px;
  list-style-type: none;
  text-align: center;
}

.oppia-info-card-content .card-metrics li .fa {
  font-size: 24px;
  margin-right: 5px;
}

.oppia-info-card-content .card-metrics ul img {
  height: 24px;
  margin-right: 2px;
  width: 24px;
}

.oppia-info-card-content .card-metrics ul li .oppia-contributors-circle {
  height: 20px;
  width: 20px;
}

.oppia-contributors-more-circle {
  background: #888;
  border-radius: 50%;
  border-color: black;
  height: 20px;
  padding-top: 3px;
  text-align: center;
  width: 20px;
}

.oppia-info-card-bottom-row {
  margin-top: 20px
}

.oppia-info-card-bottom-row md-chips md-chip {
  cursor: default;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.oppia-info-card-bottom-row ul li a img {
  height: 20px;
  width: 20px;
}

.oppia-info-card-tooltip-more {
  color: blue;
}

/* This is necessary so that long usernames don't overflow the tooltip. */
.oppia-info-card-content .tooltip-inner {
  max-width: none;
}

.oppia-info-card-tag-icon {
  padding-top: 6px;
  width: 28px;
}

.oppia-info-card-exploration-contributors-profile {
  padding: 0;
}

.oppia-info-card-community-editable-icon {
  color: #009688;
}

/* Styles for gadget panels and editor. */

.oppia-gadget-tile {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  width: 25%;
}
.oppia-gadget-tile:hover {
  outline: 2px solid #05A69A;
}
.oppia-gadget-tile-name {
  padding: 3px 0;
  position: relative;
  text-align: center;
}

.oppia-gadget-customization-editor label {
  font-weight: normal;
}

.oppia-gadget-delete-icon,
.oppia-gadget-edit-icon,
.oppia-gadget-rename-icon {
  cursor: pointer;
  position: absolute;
  width: 20px;
  z-index: 1;
}

.oppia-gadget-delete-icon,
.oppia-gadget-rename-icon {
  right: 0;
  top: 4px;
}

.oppia-gadget-rename-icon {
  right: 20px
}

.oppia-gadget-edit-icon {
  color: #636363;
  right: 20px;
  top: 4px;
}

.oppia-gadget-content {
  background: #fff;
}

.oppia-insert-gadget-button,
.oppia-gadget-name {
  background: #5cb85c;
  color: #fff;
  font-size: small;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 40px;
}

.oppia-insert-gadget-button {
  background: inherit;
  color: #000;
  cursor: pointer;
  padding-right: 0;
}

.oppia-gadget-dropdown-toggle {
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  color: gray;
  height: 25px;
  padding: 0 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.oppia-rename-gadget-form {
  background-color: white;
  color: rgba(0, 0, 0, 0.73);
  margin-left: 4px;
  position: absolute;
  z-index: 1;
}

.oppia-rename-gadget-form input {
  width: 140px;
}

.oppia-gadget-outer-container {
  position: relative;
}

.oppia-gadget-list-container {
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
}

.oppia-gadget-name-panel,
.oppia-gadget-state-visibility-panel {
  border-top: 1px solid gray;
  padding: 10px 0;
}

.oppia-gadget-state-visibility-panel {
  /* To clear the float */
  overflow: auto;
  width: 100%;
}

.oppia-gadget-state-visible-title {
  color: rgba(0, 0, 0, 0.73);
  display: block;
  font-weight: normal;
}

.oppia-gadget-state-visible-input-label {
  float: left;
  margin-left: 10px;
}

.oppia-gadget-name {
  cursor: pointer;
  margin-bottom: 5px;
}

.oppia-gadget-dropdown-toggle:hover .oppia-hidden-gadgets-container {
  left: 24px;
  top: 0;
}

.oppia-hidden-gadget,
.oppia-visible-gadgets-container {
  position: relative;
}

.oppia-suggestion-review-container {
  width: 100%;
  height: 350px;
  padding: 10px;
}

.oppia-suggestion-review-panel-container {
  width: 49%;
  height: 100%;
}

.oppia-suggestion-review-panel {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  overflow: scroll;
}

.oppia-suggestion-review-error {
  text-align: right;
  width: 100%;
  color: red;
  margin-bottom: 10px;
}

/* New Splash page */

.oppia-splash-section-one {
  background-color: #afd2eb;
  overflow-x: hidden;
}

.oppia-splash-h1, .oppia-splash-h2 {
  color: #005c5e;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  padding-top: 1em;
}

.oppia-library-h1 {
  color: #033e39;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}

.oppia-library-h2 {
  color: #04857c;
  font-family: "Rubik, regular", "Roboto", Arial, sans-serif;
  padding-bottom: 1em;
}

@media (min-width: 630px) {
  .oppia-library-h1 {
    font-size: 2.5em;
  }
  .oppia-library-h2 {
    font-size: 1.75em;
  }

}
@media (max-width: 629px) {
  .oppia-library-h1 {
    font-size: 1.2em;
  }
  .oppia-library-h2 {
    font-size: .85em;
  }
}

.oppia-splash-h1 {
  margin: 0 auto;
  padding-bottom: 1em;
}

.oppia-splash-h2-container {
  margin: 0 auto;
  max-width: 900px;
}

.oppia-splash-h2 {
  line-height: 1.6em;
  margin: 0 auto;
  padding-bottom: 72px;
}

@media (min-width: 630px) {
  .oppia-splash-h1 {
    font-size: 3em;
  }
  .oppia-splash-h2 {
    font-size: 1.8em;
    padding-top: 130px;
  }
}
@media (max-width: 629px) {
  .oppia-splash-h1 {
    font-size: 2em;
  }
  .oppia-splash-h2 {
    font-size: 1.5em;
    padding-top: 80px;
  }
}

.oppia-splash-background-icon-row {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -webkit-calc((100% - 2700px)/2);
  margin-left: -moz-calc((100% - 2700px)/2);
  margin-left: -o-calc((100% - 2700px)/2);
  margin-left: calc((100% - 2700px)/2);
  margin-right: -webkit-calc((100% - 2700px)/2);
  margin-right: -moz-calc((100% - 2700px)/2);
  margin-right: -o-calc((100% - 2700px)/2);
  margin-right: calc((100% - 2700px)/2);
  position: relative;
  text-align: center;
  width: 2700px;
}

.oppia-splash-background-icon {
  margin: -1px;
  max-width: 96px;
  width: 10%;
}

.oppia-splash-books {
  left: 50%;
  position: absolute;
  top: 95px;
  z-index: 5;
}
@media (min-width: 630px) {
  .oppia-splash-books {
    margin-left: -300px;
    width: 600px;
  }
}
@media (max-width: 629px) {
  .oppia-splash-books {
    margin-left: -250px;
    width: 500px;
  }
}

.oppia-splash-section-two {
  color: #2c4841;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.oppia-splash-button {
  background-color: #015c53;
  border-radius: 0;
  color: #fff;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 18px;
  margin-top: -20px;
  padding: 10px 0;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 360px;
}

.oppia-splash-button:hover,
.oppia-splash-button:focus,
.oppia-splash-button:active {
  background-color: rgba(5, 190, 178, 1);
  color: #fff;
}

.oppia-splash-button-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  transform: translate(-150px, 10px);
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .oppia-splash-button-browse {
    left: -webkit-calc(50% - 200px);
    left: -moz-calc(50% - 200px);
    left: -o-calc(50% - 200px);
    left: calc(50% - 200px);
  }
  .oppia-splash-button-create {
    /* Need double math to prevent issues with addition after minification.
      https://github.com/yui/yuicompressor/issues/59#issuecomment-35528166
    */
    left: -webkit-calc(50% - -200px);
    left: -moz-calc(50% - -200px);
    left: -o-calc(50% - -200px);
    left: calc(50% - -200px);
  }
  .oppia-splash-button-heading {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    transform: translate(-150px, 10px);
    position: relative;
    width: 100%;
  }

  .oppia-splash-section-two-content {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .oppia-splash-button-browse {
    left: 50%;
  }
  .oppia-splash-button-create {
    left: 50%;
    margin-top: 50px;
  }
  .oppia-splash-button-container {
    max-width: none;
    position: absolute;
    transform: translate(0, 0);
    width: 100%;
    z-index: 10;
  }
  .oppia-splash-button-heading {
    left: -webkit-calc(-70px + 15%);
    left: -moz-calc(-70px + 15%);
    left: -o-calc(-70px + 15%);
    left: calc(-70px + 15%);
    position: relative;
  }

  .oppia-splash-section-two-content {
    padding-top: 160px;
  }
}

.oppia-splash-bullet {
  margin: 0 auto 80px;
  max-width: 900px;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.oppia-splash-column {
  text-align: center;
}
.oppia-splash-bullet-block {
  font-family: "Rubik", "Roboto", Arial, sans-serif;
  font-size: 1.17em;
  line-height: 128%;
  margin-bottom: 10px;
  max-width: 500px;
  text-align: left;
  width: 100%;
}

@media (min-width: 610px) {
  .oppia-splash-bullet-block {
    display: inline-block;
    width: 48%;
  }

  .oppia-splash-block-left-image {
    float: left;
  }
  .oppia-splash-block-right-image {
    float: right;
  }

  .oppia-splash-block-left-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: left;
  }
  .oppia-splash-block-right-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: right;
  }


}

.oppia-activity-summary-tile {
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 258px;
  /*
    The margin setting is so that exploration summary tiles and collection
    summary tiles would be the same widths (214px).
  */
  margin: 8px 5.5px;
  padding: 0;
  position: relative;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  width: 197px;
}

@media only screen and (max-width: 500px) {
  .oppia-activity-summary-tile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.oppia-activity-summary-tile a,
.oppia-activity-summary-tile a:hover,
.oppia-activity-summary-tile a:active,
.oppia-activity-summary-tile a:visited {
  color: inherit;
  text-decoration: none;
}

.oppia-dashboard-container a,
.oppia-dashboard-container a:hover,
.oppia-dashboard-container a:active,
.oppia-dashboard-container a:visited {
  color: black;
}

.oppia-dashboard-container a:hover {
    text-decoration: underline;
}

.oppia-dashboard-container .oppia-highlighted-link,
.oppia-dashboard-container .oppia-highlighted-link:hover,
.oppia-dashboard-container .oppia-highlighted-link:active,
.oppia-dashboard-container .oppia-highlighted-link:visited {
  color: #009688;
}

.oppia-dashboard-container .oppia-dashboard-list-summary,
.oppia-dashboard-container .oppia-dashboard-list-summary:hover,
.oppia-dashboard-container .oppia-dashboard-list-summary:active,
.oppia-dashboard-container .oppia-dashboard-list-summary:visited {
  color: inherit;
  display: block;
  text-decoration: none;
}

.oppia-activity-summary-tile:hover {
  /*
    This is based on the levels defined on the following page:
      https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d#.22sskepri
    Level 2 seemed too subtle, but level 3 seemed too strong. This line
    therefore tries to average both of them.
  */
  box-shadow: 0 6px 13px rgba(0,0,0,0.17), 0 4px 6px rgba(0,0,0,0.23);
}

.oppia-activity-summary-tile .title-section {
  height: 162px;
  position: relative;
  width: 100%;
}

.oppia-activity-summary-tile,
.oppia-activity-summary-tile .title-section {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.oppia-activity-summary-tile .exploration-summary-avatars {
  padding-bottom: 4px;
  padding-right: 5px;
  left: 169px;
  position: absolute;
  top: 3px;
  width: 31px;
  z-index: 11;
}

.oppia-activity-summary-tile .exploration-summary-tile-mask {
  background-color: #eee;
  height: 258px;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 200px;
  z-index: 10;
}

.oppia-activity-summary-tile:hover .title-section-mask {
  background-color: #eee;
  height: 162px;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.oppia-activity-summary-tile .exploration-black-profile {
  background-color: black;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.oppia-activity-summary-tile .exploration-summary-avatars profile-link-image {
  display: block;
  margin-bottom: 3px;
}

.oppia-activity-summary-tile .avatars-num-minus-one {
  color: white;
  font-family: Roboto;
  font-size: 0.55em;
  font-weight: bold;
  left: 12px;
  position: absolute;
  padding-left: 2px;
  padding-right: 2px;
  top: 17px;
}

.oppia-activity-summary-tile .contributor-indicator {
  border-radius: 10%;
  bottom: 10px;
  height: 13px;
  position: absolute;
  right: 5px;
  text-align: center;
  width: 16px;
}

.oppia-activity-summary-tile .contributor-indicator-background {
  background-color: #4078C0;
}

.oppia-activity-summary-tile .all-avatars .num-remaining-avatars {
  color: white;
  font-family: Roboto;
  font-size: 0.7em;
  font-weight: normal;
  left: 7px;
  position: absolute;
  top: 5px;
}

.oppia-activity-summary-tile .exploration-category {
  color: #fff;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 0.65em;
  margin-left: 12px;
  margin-top: 8px;
  position: absolute;
  text-transform: uppercase;
}

.oppia-activity-summary-tile .thumbnail-image {
  display: block;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 15%;
  width: 75px;
}

.oppia-activity-summary-tile .activity-title {
  bottom: 0;
  color: white;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  margin: 12px;
  padding: 0;
  position: absolute;
}

.oppia-activity-summary-tile .objective {
  height: 60px;
  font-family: "Rubik", "Roboto", Arial, sans-serif;
  font-size: 0.85em;
  padding: 12px;
}

.oppia-activity-summary-tile .rating-disabled {
  opacity: 0.5;
}

.oppia-activity-summary-tile [section="right-section"] {
  display: inline-block;
  float: left;
  height: 80px;
  position: relative;
  text-align: center;
  width: 30%;
}

.oppia-activity-summary-tile .metrics {
  height: 30px;
  margin: 0 12px;
  padding: 0;
}

.oppia-activity-summary-tile .metrics li {
  font-size: 0.75em;
  list-style-type: none;
  text-align: center;
}

.oppia-dashboard-card-statistic-icon {
  padding-top: 3px;
  position: absolute;
}

.oppia-dashboard-mobile-statistics-card-link {
  background: white;
  height: 54px;
  opacity: 0;
  position: absolute;
  width: 96%;
}

.oppia-dashboard-statistics-card-link {
  background: white;
  height: 88px;
  opacity: 0;
  position: absolute;
  width: 184px;
}

.oppia-dashboard-card-statistic-value {
  padding-left: 19px;
}

.oppia-activity-summary-tile .metrics li .fa {
  font-size: 1.1em;
  margin-right: 2px;
  vertical-align: initial;
}

.oppia-activity-summary-tile .recently-updated {
  color: rgb(19,105,193);
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px 8px 4px 8px;
}

.oppia-card-view-wrap {
  margin-top: 8px;
  position: relative;
}

.oppia-activity-summary-tile.oppia-dashboard-collection-tile {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.oppia-activity-summary-tile.oppia-dashboard-collection-tile a:hover {
  text-decoration: none;
}

.oppia-dashboard-card-view-item {
  height: 250px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  position: static;
  width: 184px;
}

.oppia-dashboard-card-view-item .mask-wrap {
  height: 162px;
  margin-top: -162px;
  position: relative;
}

.oppia-dashboard-card-view-item .exp-private-text {
  font-size: 13px;
  margin: 13px 11px 0;
}

.oppia-dashboard-card-view-item .metrics {
  height: 50px;
  margin: 13px 0 0 0;
  padding-bottom: 10px;
}

.oppia-dashboard-card-view-item .metrics > li {
  padding: 0 0 5px 14px;
  text-align: left;
}

.oppia-dashboard-card-view-item .oppia-sharing-links {
  margin-top: 3px;
  padding-left: 12px;
}

.oppia-dashboard-card-view-item .oppia-sharing-links .share-option-img,
.oppia-dashboard-card-view-item .oppia-sharing-links i.embed-link {
  height: 16px;
  width: 16px;
}

.oppia-dashboard-card-view-item .oppia-sharing-links i.embed-link {
  font-size: 16px;
}

@media(max-width: 815px) {
  .oppia-dashboard-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .oppia-dashboard-container .oppia-dashboard-tabs {
    justify-content: center;
  }

  .oppia-dashboard-container .oppia-dashboard-tabs li {
    width: auto;
  }

  .oppia-dashboard-container .oppia-dashboard-tabs .sort-explorations-select {
    margin-top: 8px;
    width: 100%;
  }

  .oppia-dashboard-container .oppia-dashboard-tabs .list-card-view-toggle,
  .oppia-dashboard-container .oppia-dashboard-card-view-item .oppia-sharing-links {
    display: none;
  }

  .oppia-dashboard-aggregated-stats .stats-card {
    font-size: 12px;
    padding-left: 10px;
  }

  .oppia-dashboard-card-view-item {
    display: block;
    height: auto;
    min-height: 125px;
    width: auto;
  }

  .oppia-dashboard-card-view-item .title-section {
    height: 80px;
  }

  .oppia-dashboard-card-view-item .thumbnail-image {
    height: 50px;
    left: 100%;
    margin-left: -75px;
    top: 15px;
  }

  .oppia-dashboard-card-view-item .thumbnail-image.caret-thumb {
    color: #fff;
    font-size: 30px;
    margin-left: -45px;
    top: 20px;
  }

  .oppia-dashboard-card-view-item .activity-title {
    max-width: 75%;
    position: relative;
    top: -40px;
  }

  .oppia-dashboard-card-view-item .mask-wrap {
    height: 80px;
    margin-top: -80px;
  }

  .oppia-dashboard-card-view-item .mask-wrap .title-section-mask {
    height: 80px;
  }

  .oppia-dashboard-card-view-item .metrics {
    height: auto;
  }

  .oppia-dashboard-card-view-item .metrics > li {
    flex-basis: 25%;
  }

  .oppia-exp-dropdown-stats {
    box-shadow: none;
    margin: 0;
    position: static;
  }

  .oppia-exp-dropdown-stats .open-in-editor-btn {
    display: none;
  }

  .oppia-exp-arrow:after {
    content: none;
  }
}

/* Styles for small-width screens. */

.oppia-activity-summary-tile.small-width {
  height: 80px;
  width: 95%;
}

.oppia-activity-summary-tile.small-width .title-section {
  float: left;
  height: 80px;
  width: 70%;
}

.oppia-activity-summary-tile.small-width .exploration-summary-tile-mask {
  width: 70%;
}

.oppia-activity-summary-tile.small-width:hover .title-section-mask {
  height: 80px;
  width: 70%;
}

.oppia-activity-summary-tile.small-width .thumbnail-image {
  height: 20px;
  margin: 8px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.oppia-activity-summary-tile.small-width .exploration-title {
  margin: 10px;
  top: 0;
  width: 75%;
}

.oppia-activity-summary-tile.small-width .metrics {
  display: inline-block;
  margin-top: 12px;
}

.oppia-activity-summary-tile.small-width .metrics li {
  display: block;
  font-size: 0.7em;
  text-align: left;
}

.oppia-activity-summary-tile.small-width .metrics li .fa {
  margin-bottom: 10px;
}

.oppia-activity-summary-tile.small-width .recently-updated {
  background-color: rgb(19,105,193);
  border-radius: 8px;
  color: white;
  font-size: 0.6em;
  font-weight: bold;
  padding: 5px 8px 4px 8px;
}

@media (max-width: 420px) {
  .oppia-activity-summary-tile.small-width .metrics li {
    font-size: 0.6em;
  }
  .oppia-activity-summary-tile.small-width .recently-updated {
    display: none;
  }
}

/*
  About / learners / creators pages
*/
.oppia-about-clearfix {
  clear: both;
  content: "";
  display: table;
}

.oppia-static-header {
  align-items: center;
  display: flex;
  height: 140px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.oppia-static-header h1 {
  color: #01645C;
  display: inline;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 3em;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 80%;
  z-index: 1;
}

.oppia-static-content {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 60%;
}

.oppia-static-content-below-banner {
  position: relative;
  top: 250px;
}

.oppia-about-extra-container {
  position: relative;
  top: 50px;
  width: 100%;
}

.oppia-static-extra-content {
  margin: 0 auto;
  position: relative;
  top: 0;
  width: 60%;
}

.oppia-about-otter-container {
  bottom: -2.3em;
  display: inline-block;
  position: absolute;
}

.oppia-about-otter-speech-card {
  float: right;
  width: 65%;
}

.oppia-about-otter-speech-bubble {
  background: #fff;
  border-left: none;
  border-radius: 5px;
  margin: 1em 0 3em;
  padding: 20px 10px;
  position: relative;
  text-align: center;
}

.oppia-about-otter-speech-bubble:before {
  background: #fff;
  border-bottom-right-radius: 80px 50px;
  bottom: -1.7em;
  content: "";
  display: block;
  height: 30px;
  left: 1em;
  position: absolute;
  width: 50px;
  z-index: 10;
}

.oppia-about-otter-speech-bubble:after {
  background: #eee;
  border-bottom-right-radius: 40px 50px;
  bottom: -1.7em;
  content: "";
  display: block;
  height: 30px;
  left: 1em;
  position: absolute;
  width: 20px;
  z-index: 10;
}

.oppia-about-extra-container h3 {
  color: #fff;
  text-align: center;
}

.oppia-about-otter-speech-bubble h3 {
  color: #000;
}

.oppia-about-static-content p {
  margin: 1.5em 0;
}

.oppia-static-card-content {
  margin: 0 auto;
  max-width: 600px;
  padding: 5% 0;
}

.oppia-static-card-content-wide {
  width: 90%;
}

.oppia-static-card-content-narrow {
  width: 70%;
}

.oppia-about-three-cols-feature,
.oppia-about-three-cols-feature p {
  text-align: center;
}

.oppia-about-three-cols-layout {
  display: inline-block;
  margin-right: 20px;
  width: -webkit-calc((100% - 60px) / 3);
  width: -moz-calc((100% - 60px) / 3);
  width: -o-calc((100% - 60px) / 3);
  width: calc((100% - 60px) / 3);
}

.oppia-about-three-cols-layout:last-of-type {
  margin-right: 0;
}

.oppia-about-credits-letter-groups.three-col {
  margin: 0 0 10% 0;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

.oppia-about-extra-info {
  background-color: #009788;
  color: #fff;
  width: 100%;
}

.oppia-about-page-extra-info {
  height: 220px;
}

.oppia-about-tab-content {
  display: none;
}

.oppia-about-visible-content {
  display: block;
  position: relative;
}

.oppia-static-content p {
  margin: 1.5em 0;
}

.oppia-static-content ol,
.oppia-static-content ul {
  padding: 0;
}

.oppia-static-content h2 {
  text-align: center;
}

.oppia-about-tabs {
  border-bottom: 1px solid #eee;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
  text-align: center;
}

.oppia-about-tabs li {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
  width: -webkit-calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: -o-calc(100% / 3);
  width: calc(100% / 3);
}

.oppia-about-tabs-active .oppia-about-tabs-text {
  color: #009688;
  border-bottom: 2px solid #009688;
}

.oppia-about-tabs-text {
  color: #009688;
  border-bottom: none;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.oppia-about-tabs-text:hover,
.oppia-about-tabs-text:focus
{
  color: #009688;
  text-decoration: none;
}

.oppia-about-otter {
  width: 200px;
}

.oppia-about-teach-tabs ul li {
  width: -webkit-calc(100% / 2);
  width: -moz-calc(100% / 2);
  width: -o-calc(100% / 2);
  width: calc(100% / 2);
}

.oppia-about-button {
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,1.0);
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 18px;
  margin: 15px;
  padding: 15px;
  text-transform: uppercase;
  white-space: normal;
}

.oppia-about-button:hover {
  background-color: rgba(5,190,178,1);
  color: rgba(255,255,255,1);
}

.oppia-about-buttons-container {
  text-align: center;
}

.oppia-about-credits-letter-groups span {
  font-size: 1.8em;
}

.oppia-about-credits-letter-groups ul li {
  list-style-type: none;
}

.oppia-donation-card {
  margin: auto;
  position: relative;
  width: 660px;
}

.oppia-donation-card-content-wide {
  margin: 0 auto;
  min-height: 670px;
  overflow: auto;
}

.oppia-donate-info {
  float: left;
  padding-bottom: 30px;
  width: -webkit-calc(100% - 340px);
  width: -moz-calc(100% - 340px);
  width: -o-calc(100% - 340px);
  width: calc(100% - 340px);
}

.oppia-donate-options {
  background-color: #009688;
  display: block;
  float: right;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  padding: 10px 10px 35px 10px;
  width: 340px;
}

.btn.oppia-donate-options-button {
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,1.0);
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 16px;
  height: 40px;
  margin: 15px auto;
  width: 180px;
}

.btn.oppia-donate-options-button:hover {
  background-color: rgba(5, 190, 178, 1);
  color: rgba(255,255,255,1);
}

/*
  about/learners/creators media queries
*/

@media only screen and (min-width: 1400px) {
  .oppia-static-content, .oppia-static-extra-content {
    width: 960px;
  }
}

@media only screen and (max-width: 1140px) {
  .oppia-donation-card-content-wide {
    margin-bottom: 30px;
  }
  .oppia-donate-info {
    display: none;
  }
  .oppia-donate-options {
    float: clear;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .oppia-static-content, .oppia-static-extra-content {
    width: 90%;
  }
  .oppia-about-otter-container {
    left: -3em;
    bottom: -1.8em;
  }
  .oppia-about-otter {
    width: 200px;
  }
  .oppia-about-otter-speech-bubble {
    padding: 10px;
  }
  .oppia-about-extra-info {
    height: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .oppia-static-header h1 {
    font-size: 2.5em;
  }
  .oppia-about-tabs li, .oppia-about-teach-tabs ul li {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .oppia-static-card-content-wide, .oppia-static-card-content-narrow {
    width: 80%;
  }
  .oppia-about-otter-speech-card {
    width: 50%;
  }
  .oppia-about-buttons {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .oppia-about-buttons:first-child {
    margin: 0;
  }
  .oppia-about-extra-info {
    height: 400px;
  }

  .oppia-about-three-cols-layout {
    width: 100%;
  }
}

.oppia-save-exploration-wide-modal .modal-dialog {
  max-width: 1200px;
  width: 90%;
}

.oppia-save-exploration-wide-modal .diff-graph {
  margin-top: 50px;
}
.oppia-save-exploration-wide-modal .legend-graph {
  right: -25px;
  top: 175px;
}
